.links-of-author {
  margin-top: 20px;
  text-align: center;
}

.links-of-author span{
  width: 45px;
}

.links-of-author a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  margin-bottom: 10px;
  border-bottom-color: $black-light;
  font-size: 13px;

}
