.headband {
  height: $headband-height;
  width: 100%;
  background: $headband-bg;
  position: fixed;
  z-index:  999;
}
.progress {
  height: $headband-height;
  width: 0;
  background-color: #107fe7;
}
